*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Dosis", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.334;
  color: #6d6d6d;
}

.wrapper {
  overflow: hidden;
  max-width: 100%;
  position: relative;
}

.section {
  margin-bottom: 80px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.h1 {
  color: #7ea2b3;
  text-align: center;
  font-size: 2.223rem;
  line-height: 1.25;
  font-weight: 500;
  margin-bottom: 80px;
}

.h2 {
  color: #7ea2b3;
  font-size: 1.334rem;
  line-height: 1.25;
  font-weight: 500;
  margin-bottom: 1em;
}

.item {
  display: flex;
  margin-bottom: 80px;
}

.item:nth-child(2n) {
  flex-direction: row-reverse;
}

/* Вариант через calc() */

.text_holder {
  width: calc(50% + 80px);
  flex-shrink: 0;
  background-color: #f6fcff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
  transform: translate(-80px, 40px);
  padding: 40px 80px;
}

.item:nth-child(2n) .text_holder {
  transform: translate(80px, 40px);
}

.image_holder {
  flex-shrink: 0;
}

.image_holder img {
  width: 100%;
}

.btn_holder {
  text-align: center;
  margin-bottom: 40px;
}

/* Вариант через :before */

/* .item:nth-child(2n) .text_holder {
	padding-left: 80px;
}


.image_holder {
	width: 50%;
}

.text_holder {
	width: 50%;
	position: relative;
	z-index: 1;
	transform: translateY(40px);
}

.text_holder:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -80px;
	background-color: #f6fcff;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.item:nth-child(2n) .text_holder:before {
	left: 0;
	right: -80px;
} */

.button {
  display: inline-block;
  vertical-align: bottom;
  color: #fff;
  font-size: 0.889rem;
  line-height: 1.375;
  background-color: #97b621;
  text-decoration: none;
  padding: 0.5em 2em;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  border-radius: 4em;
  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: orange;
}

.btn_play {
  border: 2px solid currentColor;
  border-radius: 4em;
  text-decoration: none;
  padding: 10px 30px;
  color: green;
}

.btn_play::before {
  content: "";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid currentColor;
}

@media (max-width: 1023px) {
  .item {
    display: block;
    margin-bottom: 40px;
  }

  .text_holder {
    width: 80%;
    margin-left: auto;
    transform: none;
    top: 0;
    z-index: 2;
    margin-top: -40px;
    position: relative;
  }

  .image_holder {
    width: 80%;
  }

  .item:nth-child(2n) .text_holder {
    transform: none;
    margin-left: 0;
  }

  .item:nth-child(2n) .image_holder {
    margin-left: auto;
  }
}
.footer {
  text-align: center;
  background-color: greenyellow;
  width: 80%;
  margin: 0 auto;
}
.carter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.food {
  margin-left: 30px;
}
.food img {
  max-width: 300px;
}

@media (max-width: 767px) {
  .text_holder {
    margin-top: 0;
    width: 100%;
  }

  .image_holder {
    width: 100%;
  }
}
